In [2]:
import pandas as pd

file_path = 'C:\\Users\\User\\OneDrive\\Desktop\\python_developer\\partizan_2022\\data\\partizan_2022_raw.csv'

df = pd.read_csv(file_path)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_player_id          500 non-null    object
 1   game_id                 500 non-null    object
 2   game                    500 non-null    object
 3   round                   500 non-null    int64
 4   phase                   500 non-null    object
 5   season_code             500 non-null    object
 6   player_id               500 non-null    object
 7   is_starter              500 non-null    float64
 8   is_playing              500 non-null    float64
 9   team_id                 500 non-null    object
 10  dorsal                  500 non-null    object
 11  player                  500 non-null    object
 12  minutes                 498 non-null    object
 13  points                  500 non-null    int64
 14  two_points_made         500 non-null    int64
 15  two_points_attempted    500 non-null    int64
 16  three_points_made       500 non-null    int64
 17  three_points_attempted  500 non-null    int64
 18  free_throws_made        500 non-null    int64
 19  free_throws_attempted   500 non-null    int64
 20  offensive_rebounds      500 non-null    int64
 21  defensive_rebounds      500 non-null    int64
 22  total_rebounds          500 non-null    int64
 23  assists                 500 non-null    int64
 24  steals                  500 non-null    int64
 25  turnovers               500 non-null    int64
 26  blocks_favour           500 non-null    int64
 27  blocks_against          500 non-null    int64
 28  fouls_committed         500 non-null    int64
 29  fouls_received          500 non-null    int64
 30  valuation               500 non-null    int64
 31  plus_minus              500 non-null    int64
dtypes: float64(2), int64(20), object(10)
memory usage: 125.1+ KB

In [ ]:
df.columns

Index(['game_player_id', 'game_id', 'game', 'round', 'phase', 'season_code',
       'player_id', 'is_starter', 'is_playing', 'team_id', 'dorsal', 'player',
       'minutes', 'points', 'two_points_made', 'two_points_attempted',
       'three_points_made', 'three_points_attempted', 'free_throws_made',
       'free_throws_attempted', 'offensive_rebounds', 'defensive_rebounds',
       'total_rebounds', 'assists', 'steals', 'turnovers', 'blocks_favour',
       'blocks_against', 'fouls_committed', 'fouls_received', 'valuation',
       'plus_minus'],
      dtype='object')

In [6]:
# Replace player names

df['player'] = df['player'].replace({
    'MADAR, YAM' : 'Madar Yam',
    'LEDAY, ZACH' : 'Leday Zach',
    'TRIFUNOVIC, UROS' : 'Trifunovic Uros',
    'NUNNALLY, JAMES WILLIAM' : 'Nunnally James',
    'ANDUSIC, DANILO' : 'Andjusic Danilo',
    'EXUM, DANTE LIMAN' : 'Exum Dante',
    'LESSORT, MATHIAS' : 'Lessort Mathias',
    'PAPAPETROU, IOANNIS' : 'Papapetrou Ioannis',
    'PUNTER, KEVIN  XAVIER' : 'Punter Kevin',
    'VUKCEVIC, TRISTAN' : 'Vukcevic Tristan',
    'SMAILAGIC, ALEN' : 'Smailagic Alen',
    'AVRAMOVIC, ALEKSA' : 'Avramovic Aleksa',
    'GLAS, GREGOR' : 'Glas Gregor',
    'KOPRIVICA, BALSA' : 'Koprivica Balsa',
    'BRODZIANSKY, VLADIMIR' : 'Brodziansky Vladimir',
    'JOVANOVIC, DORDIJE' : 'Jovanovic Dordje',
})

In [7]:
# Check for changes in player names

df['player'].value_counts()

player
Madar Yam                        39
Leday Zach                       39
PARTIZAN MOZZART BET BELGRADE    39
Trifunovic Uros                  38
Nunnally James                   38
Andjusic Danilo                  38
Exum Dante                       38
Lessort Mathias                  38
Papapetrou Ioannis               38
Punter Kevin                     37
Vukcevic Tristan                 36
Smailagic Alen                   30
Avramovic Aleksa                 24
Glas Gregor                      10
Koprivica Balsa                   9
Brodziansky Vladimir              6
Jovanovic Dordje                  3
Name: count, dtype: int64

In [8]:
# Drop unnecessary columns

df = df.drop(columns=['player_id', 'game_player_id', 'game_id', 'season_code', 'team_id', 'dorsal'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 26 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game                    500 non-null    object
 1   round                   500 non-null    int64
 2   phase                   500 non-null    object
 3   is_starter              500 non-null    float64
 4   is_playing              500 non-null    float64
 5   player                  500 non-null    object
 6   minutes                 498 non-null    object
 7   points                  500 non-null    int64
 8   two_points_made         500 non-null    int64
 9   two_points_attempted    500 non-null    int64
 10  three_points_made       500 non-null    int64
 11  three_points_attempted  500 non-null    int64
 12  free_throws_made        500 non-null    int64
 13  free_throws_attempted   500 non-null    int64
 14  offensive_rebounds      500 non-null    int64
 15  defensive_rebounds      500 non-null    int64
 16  total_rebounds          500 non-null    int64
 17  assists                 500 non-null    int64
 18  steals                  500 non-null    int64
 19  turnovers               500 non-null    int64
 20  blocks_favour           500 non-null    int64
 21  blocks_against          500 non-null    int64
 22  fouls_committed         500 non-null    int64
 23  fouls_received          500 non-null    int64
 24  valuation               500 non-null    int64
 25  plus_minus              500 non-null    int64
dtypes: float64(2), int64(20), object(4)
memory usage: 101.7+ KB

In [10]:
# Convert float64 with (1.0 and 0.0 values) to bool (True and False)

df['is_starter'] = df['is_starter'].astype(bool)
df['is_playing'] = df['is_playing'].astype(bool)

In [33]:
df.to_csv('partizan_2022_cleaning.csv', index=False)